.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
.metadata/
.metadata/.plugins/
.metadata/.plugins/org.eclipse.jdt.core/
google-play-services_lib/
app/workspace/.metadata/
*.metadata
app/workspace/.metadata/,plugins/
bin/
gen/
classes/
*.apk
*.ap_
*.class
*.dex
*gen/
*project.properties
lint.xml
