<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/taxinow"
        android:label="@string/app_name"
        android:theme="@style/TaxiNowTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hw.example.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hw.example.UserTypeChoosingActivity"
            android:label="@string/title_activity_user_type_choosing"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.hw.example.TaxiConfigActivity"
            android:label="@string/title_activity_taxi_config" >
        </activity>

        <receiver android:name="com.hw.example.AlarmReceiver" >
        </receiver>

        <service android:name="com.hw.example.LocationService" >
        </service>

        <activity
            android:name="com.hw.example.ShutdownActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_shutdown"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name="com.hw.example.SearchingTaxis"
            android:label="@string/title_activity_searching_taxis" >
        </activity>
        <activity
            android:name="com.hw.example.PassengerConfigActivity"
            android:label="@string/title_activity_passenger_config" >
        </activity>
        <activity
            android:name="com.hw.example.DebugActivity"
            android:label="@string/title_activity_debug" >
        </activity>
    </application>

</manifest>
